@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243363;
}

section {
    padding: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__links {
    display: flex;
    align-items: center;


}

.nav__link {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;

}

